.main__wrapper {
  padding: 1rem 2rem;
  .main__image {
    height: 150px;
    background-image: url("../img/intro-img 1.png");
    background-size: 100% 100%;
    @media (max-width: 1199px) and (min-width: 768px) {
      height: 361px;
    }
    @media (min-width: 1200px) {
      height: 550px;
    }
  }
}
