@mixin img-cover($img-uri) {
  background: url($img-uri);
  background-size: cover;
  background-repeat: no-repeat;
  width: 160px;
  height: 140px;
  margin: 1rem 0rem;
}

@mixin title-desc {
  color: #4e4e4e;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: none;
}
@mixin comments {
  font-weight: normal;
  font-size: 11px;
  line-height: 20px;
  color: #7c7c7c;
  text-transform: none;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-center--row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  padding-top: 1rem;
  color: #4e4e4e;
}
@mixin circle--color($color) {
  width: 34px;
  height: 34px;
  border: 2px solid $color;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 0 6px;
  position: relative;
}
@mixin circle-icon($img-uri, $top, $left) {
  background-image: url($img-uri);
  position: absolute;
  width: 10px;
  height: 10px;
  top: $top;
  @if ($left != "") {
    left: $left;
  } @else {
    left: 12px;
  }
}
