menu,
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
}

.header__navigation {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 3.5rem 0.5rem;
}

.header__menu {
  display: none;
  position: absolute;
  z-index: 999;
  top: 100%;
  width: 65%;
}

.header__menu .nav {
  background-color: #f5f5f5;
  width: 100%;
}

.header__menu .nav__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 2.6rem;
  line-height: 2.8rem;
  color: #4e4e4e;
}

.header__menu .nav__list-item {
  padding: 1.6rem 0;
}

.header__menu .nav__list-item a {
  display: block;
  padding-left: 3rem;
  border-left: 0.8rem solid transparent;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
}
.item__green {
  color: #57a4a4;
}

.header__menu .nav__list-item:hover {
  background-color: #e5e5e5;
}

.collapsable-input {
  display: none;
}

#collapsable-menu:checked ~ #collapsable {
  display: block;
}

.header__switch-label {
  width: 4.4rem;
  height: 3.7rem;
  position: relative;
  display: block;
  cursor: pointer;
  background-color: black;
}

.header__switch-label span {
  width: 1.6rem;
  height: 0.2rem;
  border-radius: 1rem;
  background-color: white;
  display: block;
  position: absolute;
  top: 2rem;
  right: 0.3rem;
  margin-right: 1.1rem;
}

.header__switch-label span::before {
  content: "";
  width: 1.6rem;
  height: 0.1rem;
  border-radius: 1rem;
  background-color: white;
  display: block;
  position: absolute;
  top: -6px;
  right: 0;
}

.header__switch-label span::after {
  content: "";
  width: 1.6rem;
  height: 0.1rem;
  border-radius: 1rem;
  background-color: white;
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
}

#collapsable-menu:checked ~ .header__switch-label > span {
  transform: rotate(45deg);
}

#collapsable-menu:checked ~ .header__switch-label > span::before {
  top: 0;
  transform: rotate(0);
}

#collapsable-menu:checked ~ .header__switch-label > span::after {
  top: 0;
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .header__navigation {
    display: flex;
    flex-wrap: wrap;
  }

  .header__switch-label {
    display: none;
  }
  .header__menu {
    display: flex;
    position: static;
    order: 3;
    flex-basis: 100%;
    margin-top: 2rem;
  }
  .header__navigation {
    padding: 3.5rem 1.5rem;
  }
  .header .nav {
    background-color: unset;
    max-width: 768px;
    margin: 0 auto;
  }
  .header .nav__list {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #27262a;
  }
  .header .nav__list-item {
    border-bottom: unset;
    padding: 0;
  }
  .header .nav__list-item a {
    border-left: unset;
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header .nav {
    display: flex;
    align-items: center;
  }
  .header .nav__list {
    width: 100%;
  }
}

:root {
  font-size: 10px;
}

.wrapper {
  padding: 0 1rem;
}

button {
  cursor: pointer;
}
